body {
    background-color: greenyellow;
    font-family: 'Press Start 2P';
    width: 100%;
    height: 100%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

img {
    width: 128px;
    height: 128px;
    margin-left: -35px;
    margin-bottom: 20px;
}