body {
    background-color: greenyellow;
    font-family: 'Press Start 2P';
    width: 100%;
    height: 100%;
    margin:0;
}

.logo_log{
    width: 30px;
    height: 30px;
}

.top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.worg {
    width:170px;
    height:110px;

    
}

.low_menu{
    margin-top:20vh;
    display: flex;
    justify-content: space-between;
}

.left_menu{
    margin-left: 5vw;
}

.right_menu{
    margin-right: 15vw;
}

.menu_nav{
    font-size: 2em;
}

