body {
    background-color: greenyellow;
    font-family: 'Press Start 2P';
    width: 100%;
    height: 100%;
    margin:0;
}

.logo_log{
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}

.top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    transform: scale(2.5);
}
.worg {
    width:570px;
    height:410px;

    
}

.low_menu{
    margin-top:20vh;
    display: flex;
    justify-content: space-between;
}

.left_menu{
    margin-left: 5vw;

}

.right_menu{
    margin-right: 15vw;
}

.menu_nav{
    font-size: 3em;
}

.name1 {
    font-size: 55px;
}